BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never

Language: Cpp
DerivePointerAlignment: true
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
BreakBeforeBraces: Linux

#
# AlignAfterOpenBracket: Align
# AlignArrayOfStructures: Right
#
# AlignConsecutiveAssignments: Consecutive
# AlignConsecutiveBitFields: Consecutive
# AlignConsecutiveDeclarations: Consecutive
# AlignConsecutiveMacros: Consecutive
# AlignConsecutiveShortCaseStatements:
#   Enabled: true
#
# AlignEscapedNewlines: LeftWithLastLine
# AlignOperands: DontAlign
#
# AlignTrailingComments:
#   Kind: Always
#
# AllowAllArgumentsOnNextLine: false
# AllowAllParametersOfDeclarationOnNextLine: false
#
# AllowBreakBeforeNoexceptSpecifier: OnlyWithParen
#
# AllowShortBlocksOnASingleLine: Never
# AllowShortCaseExpressionOnASingleLine: true
# AllowShortCompoundRequirementOnASingleLine: true
# AllowShortFunctionsOnASingleLine: InlineOnly
# AllowShortIfStatementsOnASingleLine: Never
# AllowShortLambdasOnASingleLine: Inline
# AllowShortLoopsOnASingleLine: true
#
# AlwaysBreakBeforeMultilineStrings: true
#
# BreakBeforeBraces: Linux
#
# BinPackArguments: true
# BinPackParameters: true
#
# BitFieldColonSpacing: Both
